body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--primary-text-color);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

:root {
  --secondary-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --hero-and-footer-background-color: #2f303a;
  --main-background-color: #e5e5e5;
  --team-background-color: #f5f4fa;
  --card-set-gap: 30px;
}
.link {
  display: block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
li {
  list-style-type: none;
  /* Убираем маркеры */
}
a {
  text-decoration: none;
  /* Убираем подчёркивание для всех ссылок */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* стили хедера */

.logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo.link.main {
  margin-right: 125px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.main-nav .item:not(:last-child) {
  margin-right: 50px;
}
.main-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-header {
  display: flex;
  margin-left: auto;
}
header {
  background-color: var(--background-color);
}
.logo-accent {
  color: var(--accent-color);
}
.logo-header {
  color: #000000;
}
.logo-footer {
  color: var(--background-color);
}
.navigation-list .navigation-link {
  color: var(--secondary-text-color);
}
.navigation-list .navigation-link:hover,
.navigation-list .navigation-link:focus {
  color: var(--accent-color);
}
.navigation-link-current {
  color: var(--accent-color);
}

.contacts-link.link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mail-icon,
.tel-icon {
  margin-right: 10px;
}
.contacts-link {
  display: flex;
  align-items: center;
}

.contacts-link:hover,
.contacts-link:focus,
.mail-icon:hover,
.mail-icon:focus,
.tel-icon:hover,
.tel-icon:focus
 {
  color: var(--accent-color);
  fill: var(--accent-color);
}

}
/* стили hero */
.section.hero {
  padding: 200px 0px;
}
.hero {
  background-color: var(--hero-and-footer-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img-min.jpg);
  color: var(--background-color);
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--background-color);
}
.hero-button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* cтили для advantages и occupations */
.advantages,
.occupations {
  background-color: var(--background-color);
}
.advantages {
  line-height: 1.71;
  padding-bottom: 0px;
}
.advantages-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.advantages-list {
  display: flex;
  margin-right: calc(-1 * var(--card-set-gap));
}
.advantages-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
}
/* стили для наши занятия */
.occupations-list {
  display: flex;
  margin-right: calc(-1 * var(--card-set-gap));
}
.occupations-image {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
}
.occupations-title,
.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}
/* стили для team section */
.team {
  background-color: var(--team-background-color);
}
.team-article {
  padding: 30px 0px;
}
.team-member {
  font-weight: 500;
  color: var(--secondary-text-color);
}
.team-role {
  margin-top: 10px;
}
.team-list {
  display: flex;
  margin-right: calc(-1 * var(--card-set-gap));
}
.team-card {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
}
.team-shadow {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team,
.team-member {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* стили для футера */
footer {
  background-color: var(--hero-and-footer-background-color);
}
.location {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.71;
  color: var(--background-color);
}
.contacts-footer,
.contacts-footer-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.contacts-footer .contacts-footer-link:hover,
.contacts-footer .contacts-footer-link:focus {
  color: var(--accent-color);
}
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.page-footer.studio {
  padding-bottom: 57px;
}
.contacts.footer.link {
  margin-top: 9px;
}
/* cтили для portfolio */
.page-header {
  border-bottom: 1px solid #ececec;
}
.logo.portfolio {
  margin-right: 93px;
}
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-list .button:not(:last-child) {
  margin-right: 8px;
}
.jobs-button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--secondary-text-color);
  border-radius: 4px;
  background: #f5f4fa;
  padding: 6px 22px;
  border: transparent;
}

.jobs .jobs-button:hover,
.jobs .jobs-button:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.jobs-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 1.88;
  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
}
.jobs-list > .jobs-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
}

.jobs-list .jobs-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.jobs-article {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}
.jobs-text {
  margin-top: 4px;
}
